.nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 0.8rem 0rem;
  min-height: 50px;
  background: #fff;
  z-index: 57;
  transition: all linear 0.5s;
  left: 0;
  /* background-color: transparent; */
  .logo {
    max-width: 100%;
    width: 130px;
  }

  &__link {
    font-size: 0.9rem;
    text-decoration: none;
    font-weight: 500;
    display: none;
    color: #193c57;
    &--active {
      color: #2f281e;
    }
    &--mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 60px;
      margin: 20px 0;
      font-size: 1.4rem;
    }
    &:hover {
      color: var(--success) !important;
      text-decoration: none;
    }
    &--call-to-action {
      font-size: 1rem;
      padding: 9px 30px;
      border-radius: 4px;
      font-weight: 500;
      &:hover {
        color: #ffffff;
      }
    }
  }
  a.text-success:hover {
    color: #fff !important;
  }
  &.bg-white .nav__menu-icon__line {
    background: var(--primary);

    &::before {
      background: var(--primary);
    }
    &::after {
      background: var(--primary);
    }
  }

  &--sticky {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.8rem 0;
    z-index: 100;
    opacity: 0.97;
  }
  &__menu-icon {
    width: 32px;
    margin-left: 18px;
    cursor: pointer;
    display: block;
    position: relative;
    z-index: 30;

    &__line {
      height: 3px;
      width: 100%;
      display: block;
      background: #117a8b;

      &::before {
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        transform-origin: center;
        background: #117a8b;
        position: absolute;
        top: -10px;
        transition: all 0.5s;
      }
      &::after {
        content: "";
        width: 100%;
        height: 3px;
        display: block;
        transform-origin: center;
        background: #117a8b;
        position: absolute;
        top: 10px;
        transition: all 0.5s;
      }

      &--crossed {
        height: 3px;
        width: 0%;
        display: block;
        background: #117a8b;

        &::before {
          top: 0px;
          transform: rotate(45deg);
          background: #117a8b;
        }
        &::after {
          top: 0px;
          transform: rotate(-45deg);
          background: #117a8b;
        }
      }
    }
  }

  &__menu {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all linear 0.3s;

    &--show {
      overflow: auto;
      height: 420px;
      opacity: 1;
      z-index: 0;
    }
  }
}

.nav-bar {
  height: 70px;
  background: transparent;
  width: 100%;
  z-index: 99;
  transition: all 0.3s ease-in-out;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;

  &__link {
    display: none;
  }

  &--up {
    top: -70px;
  }

  &--down {
    top: 0px;
    background: rgb(51, 50, 50);
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  }

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-link {
    text-decoration: none;
  }

  &__logo {
    width: 60%;
  }
}

@media only screen and (min-width: 780px) {
  .nav__menu-icon {
    display: none;
  }
  .nav__link {
    display: inline-block;
  }
}
