.steps {
  &__number {
    height: 34px;
    width: 34px;
    min-height: 34px;
    min-width: 34px;
    background: var(--success);
    color: var(--white);
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06),
      0px 2px 4px rgba(50, 50, 71, 0.06);
  }
  &__left-img {
    position: absolute;
    left: 0;
    img {
      width: 97%;
    }
  }
  &__container {
    padding-top: 0rem;
  }
}

@media (min-width: 900px) {
  .steps__container {
    padding-top: 5rem;
  }
}
@media (min-width: 1100px) {
  .steps__container {
    padding-top: 7rem;
  }
}
@media (min-width: 1300px) {
  .steps__container {
    padding-top: 9rem;
  }
}
