.strip {
  background: url(../../assets/images/strip.png);
  background-size: cover;
  background-position: center;
  border-radius: 9px;
  padding: 2.5rem 1rem;
  &__shield-img {
    max-width: 150px;
  }
  &__title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.4;
  }
  p {
    opacity: 0.8;
  }
  .btn {
    color: #30a971;
  }
  &__container {
    transform: translateY(-50%);
  }
}
